{% extends "layout.html" %}

{% block content %}
<!Doctypehtml>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dva</title>
   
    <link rel="stylesheet" type="text/css" href="static/css/OW.css">
    </head>
   
    
 
            <br>
            <section class="main">
                <section class="articles">
                    <article>
                        <h2>D.VA</h2>
                        <p>
                        </center> <br>
                        
                       
                        D.Va era una jugadora profesional que ahora aprovecha sus habilidades para pilotar un meca de última generación al servicio de la defensa de su tierra.

                        Hace veinte años, Corea del Sur fue atacada por una monstruosidad ómnica colosal que surgió de las profundidades del Mar del Este de China. La enorme y pesada creación provocó una catástrofe en las ciudades costeras antes de que la devolviesen a las profundidades. Como respuesta, el gobierno surcoreano desarrolló una unidad robótica blindada mecanizada, llamada MEKA, para proteger los entornos urbanos en futuros enfrentamientos con la amenaza ómnica.
                        <br>
                       </p>
                    </article>
                    <center><img src="https://fotografias-neox.atresmedia.com/clipping/cmsimages02/2018/08/23/50C6A30C-E47A-4C90-8CAE-B49AD450C5C6/98.jpg?crop=1189,669,x91,y0&width=1900&height=1069&optimize=high&format=webply" alt="" width="600" height="400" /></center>
                    <br>
                    <article>
                        
                       
                        <p>
                        <br>
                        Un patrón de ataques preocupante probó que los temores del gobierno estaban fundados. Cada pocos años, la monstruosidad surgía del mar para atacar a Corea del Sur y a sus vecinos. La criatura ómnica fue aprendiendo de los encuentros, y se fue adaptando con nuevas formas, armas y habilidades. Los incidentes acababan en un punto muerto, con la monstruosidad derrotada pero no destruida.
                       </p>
                    </article>
                   
                    <br> <aside>Gracias a su adaptación, la criatura acabó por afectar a las redes de control de los MEKA, lo que obligó al ejército a utilizar pilotos en los mecas. Debido a las dificultades para encontrar candidatos adecuados, el gobierno decidió recurrir a los jugadores profesionales, que contaban con los reflejos y los instintos necesarios para manejar el armamento avanzado de los mecas. Reclutaron a las mayores estrellas, incluida la flamante campeona mundial Hana Song, también conocida como "D.Va". Famosa por sus habilidades de élite, D.Va era una competidora voraz que jugaba para ganar a cualquier precio, y tenía una reputación bien ganada de no mostrar compasión por sus oponentes.</aside> <br><br>
                    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0362cea6-c29f-452c-a852-5d86f3d042dc/dcln99k-f76b3e59-4030-45a2-bcf9-d6aab18ab292.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzAzNjJjZWE2LWMyOWYtNDUyYy1hODUyLTVkODZmM2QwNDJkY1wvZGNsbjk5ay1mNzZiM2U1OS00MDMwLTQ1YTItYmNmOS1kNmFhYjE4YWIyOTIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ljM1py956_7BElVuKPqBAB5GGWP1I6cHOmCHHqrnpYA" alt="" width="600" height="350" /><br>
                   
                </section>
              
                <br>
                ㅤㅤㅤㅤㅤㅤㅤㅤ
                ㅤㅤㅤㅤㅤㅤㅤㅤ
            
            <footer>
                <br>
                <p>
                    D.Va, que ve su nueva misión como un juego, carga sin miedo por el campo de batalla junto a su unidad MEKA, lista para defender su nación en cuanto haga falta. Hace poco ha comenzado a retransmitir sus operaciones de combate para sus dedicados fans, y su creciente comunidad de seguidores la ha transformado en un icono global.
                <br>    
                <br>  
                <p>
            </footer>
        </body>

  {%endblock%}
</html>